<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lourdinas.finalaplication">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Main Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Calculadora" />
        <activity android:name=".Calciladora_Media" />
        <activity android:name=".Cadastro1" />
        <activity android:name=".Cadastro2" />
        <activity android:name=".Simulador_Chamada" />
        <activity android:name=".Multiplas_Telas" />
        <activity android:name=".Multiplas_telas2" />
        <activity android:name=".Multiplas_Telas3"></activity>
    </application>

</manifest>